@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&display=swap');


marquee{
    width: 500px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    color:seashell;
}

.title{
    font-size: 70px;
    font-family: 'Titillium Web', sans-serif;  
    color: rgb(97, 226, 219);
    text-shadow: 3px 2px rgb(25, 31, 122);
}

.bigclick{
    width: 300px;
    height: 150px;
    padding: 20px;
    margin: 50px;
    border-radius: 25px;
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    font-family: 'Roboto Condensed', sans-serif;
    background-size: 200% auto;
    color: white;
    box-shadow: 5px 5px 40px rgb(236, 16, 16);
    font-size: 35px;
    transition: transform .2s;
    text-transform: uppercase;
    transition: 0.3s;
}
.bigclick:hover{
    color: rgb(41, 206, 41);
    font-size: 40px;
    text-shadow: 2px 2px  black;
    
    text-decoration: none;
    transform: scale(1.12);
    background-position: right center;
}

body {
    background: linear-gradient(-45deg, rgba(217,9,27,1) 6.9%, rgba(22,68,150,1) 75%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
}
}



.gray{
    
    padding: 20px;
    color:white;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    text-align: center; 
    text-shadow: 4px 4px black;
    border: 20px transparent;
}
