@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');


body{
    background-image: linear-gradient(45deg, #48ce88 0%, #fbf415 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.btn-grad {background-image: linear-gradient(to right, #CC95C0 0%, #DBD4B4  51%, #CC95C0  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: rgb(103, 71, 247);            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   
   font-family: 'Raleway', sans-serif;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: rgb(230, 49, 79);
   font-size: 20px;
   text-decoration: none;
 }

 .title{
  font-size: 70px;
  font-family: 'Titillium Web', sans-serif;  
  color: rgb(255, 40, 40);
  text-shadow: 3px 2px rgb(25, 31, 122);
}