@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


.bg{
    background-color: rgb(235, 192, 127);
    background: linear-gradient(to right, #e96443, #904e95);

}

.title{
    font-size: 50px;
    font-family: 'Titillium Web', sans-serif;  
    color: rgb(52, 241, 61);
    text-shadow: 3px 2px rgb(25, 31, 122);
}

.detail{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    color:rgb(29, 44, 248);
    text-shadow: 0px 2px rgb(30, 211, 13);

}

.detail1{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    color:rgb(211, 243, 29);
    text-shadow: 2px 2px black;

}


.btn-grad {background-image: linear-gradient(to right, #DE6262 0%, #FFB88C  51%, #DE6262  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   font-family: 'Raleway', sans-serif;
   
;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: rgb(12, 12, 12);
   font-size: 20px;
   text-decoration: none;
 }

 .detail2{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    color:rgb(195, 211, 48);
    text-shadow: 2px 2px black;

}

marquee{
    width: 500px;
    
}

.outline{
    border: 4px solid rgb(228, 23, 75);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    width: 500px;
    height: 270px;
    background-color: rgb(118, 197, 87);
    box-shadow: 5px solid violet;
  }
  .txt{
    float: right;
    clear: both;
  }